/*
----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Images
		1.1 - Background Images

2.0 - Structure
        2.1 - Front Cover
        2.2 - Opt-in Form

--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Images
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1 - Background Images
--------------------------------------------------------------*/
.front-cover-image {
	background-image: url( ../images/front-cover.jpg );
}

/*--------------------------------------------------------------
2.0 - Structure
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - Front Cover
--------------------------------------------------------------*/
div#front-cover-banner {
	clear: both;
	border-top: 7px solid #000;
	width: 100%;
	height: 500px;
	text-align: center;
	background-position: right center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #181818;
}

div#front-cover-text {
	padding-top: 100px;
}

p#front-cover-p1 {
	padding-bottom: 140px;
}

p#front-cover-p2 {
	padding-bottom: 35px;
}

/*--------------------------------------------------------------
2.2 - Opt-in Form
--------------------------------------------------------------*/
div#optin-form {
	padding: 20px 0px;
}

input#optin-email {
	margin-right: 10px;		
}

div.optin-message {
	margin: auto;
	margin-top: 20px;
	width: 403px;
}