/*
----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Structure
		1.1 - Alignment

--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Structure
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1 - Alignment
--------------------------------------------------------------*/
div#footer {
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
}