/*
----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Initialize
		1.1 - Reset
        1.2 - Default Tags
        1.3 - Anchors
        1.4 - Colors
        1.5 - Texts
        1.6 - Font Families
        1.7 - Shadows
        1.8 - Background Images

2.0 - Structure
        2.1 - Banners
        2.2 - Divisions
        2.3 - Paragraphs
        
3.0 - Texts
		3.1 - Messages

--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.1 - Reset
--------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
a img{border:none;}

/*--------------------------------------------------------------
1.2 - Default Tags
--------------------------------------------------------------*/
body {
	line-height: 1.7em;
	color: #101010;
	font-size: 14px;
	font-family: Tahoma, Geneva, Helvetica, Arial, Verdana, sans-serif;
	font-weight: normal;
	background: #fff;
}

h1,h2,h3,h4,h5,h6 {font-weight: bold;}
h1 {font-size: 4.0em;}
h2 {font-size: 3.0em;}
h3 {font-size: 2.5em;}
h4 {font-size: 2.0em;}
h5 {font-size: 1.5em;}
h6 {font-size: 1.0em;}

a {color: #000033;text-decoration: none;}
a:hover {color: #000066;}

/*--------------------------------------------------------------
1.3 - Anchors
--------------------------------------------------------------*/
a.no-color,a.no-color:hover {color: inherit;}

/*--------------------------------------------------------------
1.4 - Colors
--------------------------------------------------------------*/
.white {color: #fff;}
.black {color: #000;}
.g1 {color: #101010;}
.g2 {color: #202020;}
.g3 {color: #303030;}
.g4 {color: #404040;}
.g5 {color: #505050;}
.g6 {color: #606060;}
.g7 {color: #707070;}
.g8 {color: #808080;}
.g9 {color: #909090;}
.ga {color: #a0a0a0;}
.gb {color: #b0b0b0;}
.gc {color: #c0c0c0;}
.gd {color: #d0d0d0;}
.ge {color: #e0e0e0;}
.gf {color: #f0f0f0;}

/*--------------------------------------------------------------
1.5 - Texts
--------------------------------------------------------------*/
.l1,.l11 {font-size: 1.1em;}
.l2,.l12 {font-size: 1.2em;}
.l3,.l13 {font-size: 1.3em;}
.l4,.l15 {font-size: 1.5em;}
.l5,.l20 {font-size: 2.0em;}
.l6,.l25 {font-size: 2.5em;}
.l7,.l30 {font-size: 3.0em;}
.l8,.l40 {font-size: 4.0em;}
.l9,.l50 {font-size: 5.0em;}

.s1,.s09 {font-size: 0.9em;}
.s2,.s08 {font-size: 0.8em;}
.s3,.s07 {font-size: 0.7em;}
.s4,.s06 {font-size: 0.6em;}
.s5,.s05 {font-size: 0.5em;}

.w1 {letter-spacing: 1px;}
.w2 {letter-spacing: 2px;}

/*--------------------------------------------------------------
1.6 - Font Families
--------------------------------------------------------------*/
.serif {font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;}
.sans-serif {font-family: Tahoma,Geneva,Arial,Helvetica,Verdana,sans-serif;}	
.times {font-family: "Times New Roman",Times,Georgia,serif;}

/*--------------------------------------------------------------
1.7 - Shadows
--------------------------------------------------------------*/
.box-shadow-bottom {box-shadow:0px 5px 10px 0px #000;-moz-box-shadow:0px 5px 10px 0px #000;-webkit-box-shadow: 0px 5px 10px 0px #000;}
.text-shadow-dark1 {text-shadow: 0px 0px 5px #000,0px 0px 5px #000,0px 0px 10px #000;}
.text-shadow-dark2 {text-shadow: 0px 0px 5px #000,0px 0px 5px #000,0px 0px 20px #000,0px 0px 40px #000,0px 0px 40px #000}
.text-shadow-dark3 {text-shadow: 0px 0px 5px #000,0px 0px 5px #000,0px 0px 10px #000,0px 0px 20px #000,0px 0px 40px #000,0px 0px 40px #000,0px 0px 50px #000,0px 0px 50px #000,0px 0px 50px #000,0px 0px 50px #000,0px 0px 60px #000,0px 0px 60px #000;}

/*--------------------------------------------------------------
1.8 - Background Images
--------------------------------------------------------------*/
.front-cover-image {background-image: url( ../images/front-cover.jpg );}

/*--------------------------------------------------------------
2.0 - Structural
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - Banners
--------------------------------------------------------------*/
.fixed-width {
	margin: auto;
	width: 1000px;
}

div#front-cover {
	clear: both;
	width: 100%;
	background-position: right center;
	background-size: cover;
	background-repeat: no-repeat;
}

div#front-cover {
	border-top: 7px solid #000;
	height: 500px;
	background-color: #181818;
}

/*--------------------------------------------------------------
2.2 - Divisions
--------------------------------------------------------------*/
div#front-cover-text {
	padding-top: 120px;
	text-align: center;
}

div#footer {
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
}

/*--------------------------------------------------------------
2.3 - Paragraphs
--------------------------------------------------------------*/
p#front-cover-p1 {
	padding-bottom: 170px;
}

p#front-cover-p2 {
	padding-bottom: 35px;
}

/*--------------------------------------------------------------
3.0 - Texts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.1 - Messages
--------------------------------------------------------------*/
.successful-message {
	color: green;
}

.unsuccessful-message {
	color: red;
}