<?xml version="1.0" encoding="UTF-8"?>   
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 					 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="true">
    	 
    <display-name>Feats of Love</display-name>
 
    <servlet>
        <servlet-name>featsoflove</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/config/servlet-config/featsoflove-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>featsoflove</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    						<!--
	E R R O R   C O D E S
	=====================	-->
	<error-page>
		<error-code>400</error-code>
		<location>/400</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/401</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/403</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500</location>
	</error-page>
	
</web-app>